@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Timmana&display=swap&family=Acme&display=swap&family=Protest+Strike&display=swap&family=Lexend+Deca:wght@100..900&display=swap&family=Poppins:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Header y nav */
header {
    z-index: 1;
    position: fixed;
    box-shadow: 2px 2px 10px #D93904;
}

header {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: whitesmoke;
}

header a:hover {
    color: #D93904;
}

.logo img {
    width: auto;
    height: 80px;
}

.hamburguesa {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 23px;
    padding: 10px 25px;
}

.nav-bar ul li a:hover {
    color: #D93904;
}

/*boton*/

.nav-bar .contactos-boton li a {
    color: white;
    font-weight: normal;
}

.nav-bar .contactos-boton li a:hover {
    color: #ffffff;
}

button.contactos-boton {
    border-radius: 10px;
}

/*Nosotros*/

main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
}

.nosotros {

    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 8rem 0 0 0;
}

.nosotros .img-foxtec {
    overflow: hidden;
}

.nosotros .img-foxtec img {
    width: 575px;
    height: auto;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    transition: 0.3s;
    border: 10px ridge #D93904;
}

.nosotros .img-foxtec:hover img {
    transform: scale(1.02);
}

.nosotros .nosotros-texto {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

.nosotros .nosotros-texto span.text-foxtec {
    display: block;
    font-size: 23px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
}

.nosotros .nosotros-texto span.text-foxtec span {
    display: inline-block;
    background: #D93904;
    width: 70px;
    height: 5px;
}

.nosotros .nosotros-texto h2 {
    font-family: "Protest Strike", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}

.nosotros .nosotros-texto h2 span {
    font-family: "Protest Strike", sans-serif;
    color: #D93904;
}

.nosotros .nosotros-texto p {
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 25px;
}

/*ad1*/

#ad1 {
    padding: 0;
}

.ad1 {
    position: relative;
    width: 728px;
    top: 111px;
}

.ad1 {
    left: 0;
}


/* cerrar ad */

button#boton-cerrar {
    background-color: transparent;
}

#boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0;
    padding-right: 4px;
    cursor: pointer;

    & img {
        width: 20px;
        height: auto;
        background-color: #000000;
        border-radius: 100px;
        transition: transform 0.5s ease;
    }

    & img:hover {
        background-color: #D93904;
        transform: scale(1.2);
    }

}


/*Mision, Vision y valores*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.mvv {
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.mvv-text {
    width: 100%;
    padding-right: 150px;
}

.mvv-text h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 35px;
}

.mvv-text p {
    font-family: "Poppins", sans-serif;
}

.mvv-text p br {
    font-family: "Poppins", sans-serif;
    padding-bottom: 50px;
}

.mvv-text-1 {
    width: 100%;
    padding-left: 150px;
}

.mvv-text-1 h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
}

.mvv-text-1 p {
    font-family: "Poppins", sans-serif;
}

.mvv .mvv-text h2 span {
    color: #D93904;
}

.mvv .mvv-text-1 h2 span {
    color: #D93904;
}

.img-1 {
    width: 300px;
    height: 300px;
}

.mvv .mvv-img .img-1 {
    transition: 0.3s;
}

.mvv .mvv-img .img-1:hover {
    transform: scale(1.2);
}

/* Footer */

.footer1 {
    background-color: #000000;
    padding: 40px 180px;
}

.footer-row {
    display: flex;
}

.footer-link {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0;
}

.footer-link h4 {
    font-family: "Protest Strike", sans-serif;
    font-size: 28px;
    color: #D93904;
    margin-bottom: 25px;
    font-weight: 500;
    padding-bottom: 10px;
    display: inline-block;
    text-transform: none;
}

.footer-link ul li p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-link ul li a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-link ul li a:hover {
    color: #D93904;
    padding-left: 6px;
}

.social-link {
    padding: 0 0 20px 0;
}

.social-link img {
    display: inline-block;
    width: 59px;
    height: auto;
    margin: 0;
    text-align: center;
    border-radius: 50%;
    color: aliceblue;
    padding: 0;
}

.social-link a:hover {
    background-color: #D93904;
}

::placeholder {
    font-style: italic;
}

.newsletter .titulo {
    font-family: "Protest Strike", sans-serif;
    padding-bottom: 10px;
    color: #D93904;
    font-size: 28px;
}

.newsletter p {
    color: white;
    font-size: 20px;
    text-align: start;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    padding-bottom: 10px;
}

div.newsletter-caja {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.newsletter-caja input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
}

.newsletter-caja input:focus {
    outline: 2px solid #D93904;
}

.newsletter-caja button {
    background-color: #b40000;
    padding: 13px 25px 0 25px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-caja button:hover {
    background-color: #D93904;


}

button {
    cursor: pointer;
    border: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(160, 0, 0);
}

button:hover {
    background-color: #D93904;
    color: white;
}

.btn2-2 {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    & p,
    a {
        color: white;
        font-size: 18px;
        font-family: "Bebas Neue", sans-serif;
        text-decoration: none;
    }
}

.footer-2 p.derechos {
    cursor: pointer;
}

.footer-2 p.derechos:hover {
    color: #D93904;
}

@media (max-width: 1025px) {

    /* Header & nav */

    header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 50px;
        background-color: whitesmoke;
    }

    .logo img {
        width: 180px;
        height: auto;
    }

    .nav-bar ul {
        display: flex;
    }

    .nav-bar ul li a {
        font-size: 20px;
        padding: 10px 15px;
    }

    /*ad1*/

    #ad1 {
        padding: 0;
    }

    .ad1 {
        position: relative;
        width: 728px;
        top: 80px;
    }

    .ad1 {
        left: 0;
    }


    /*Nosotros 2*/
    .nosotros {
        margin-top: 0px;
        padding-top: 100px;
        grid-gap: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotros .img-foxtec {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .nosotros .img-foxtec img {
        width: 70%;
        height: 80%;
        border: 13px ridge #D93904;
    }

    .nosotros .nosotros-texto {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }

    .nosotros .nosotros-texto span.text-foxtec {
        font-size: 25px;
        gap: 15px;
        margin-bottom: 10px;
    }

    .nosotros .nosotros-texto h2 {
        font-family: "Protest Strike", sans-serif;
        font-size: 34px;
    }

    .nosotros .nosotros-texto p {
        text-align: justify;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        line-height: 29px;
    }


    /*Mision, Vision y valores*/

    .container {
        max-width: 910px;
        margin: 0 auto;
    }

    .mvv {
        padding: 50px 0;
        display: flex;
        align-items: center;
    }

    .mvv-text {
        width: 100%;
        padding-right: 50px;
    }

    .mvv-text h2 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 35px;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .mvv-text p {
        font-family: "Poppins", sans-serif;
    }

    .mvv-text p br {
        font-family: "Poppins", sans-serif;
        padding-bottom: 50px;
    }

    .mvv-text-1 {
        width: 100%;
        padding-left: 50px;
    }

    .mvv-text-1 h2 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 35px;
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .mvv-text-1 p {
        font-family: "Poppins", sans-serif;
    }

    .mvv .mvv-text h2 span {
        color: #D93904;
    }

    .mvv .mvv-text-1 h2 span {
        color: #D93904;
    }

    .img-1 {
        width: 300px;
        height: 300px;
    }

    .mvv .mvv-img .img-1 {
        transition: 0.3s;
    }

    .mvv .mvv-img .img-1:hover {
        transform: scale(1.2);
    }

    /* Footer */

    .footer1 {
        padding: 40px 40px;
    }

    .footer-link h4 {
        font-size: 24px;
        color: #D93904;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .footer-link ul li p {
        font-size: 20px;
    }

    .footer-link ul li a {
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }

    .social-link img {
        width: 43px;
        height: auto;
    }

    ::placeholder {
        font-style: italic;
    }

    .newsletter .titulo {
        padding-bottom: 10px;
        color: #D93904;
        font-size: 24px;
    }

    .newsletter p {
        color: white;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .newsletter-caja input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja button {
        padding: 8px 25px;
        width: 100%;
        height: 50px;
    }

    .footer-2 p,
    a {
        font-size: 15px;
    }
}

@media (max-width: 769px) {

    /* Header & nav */
    .logo img {
        width: auto;
        height: 55px;
        display: flex;
        align-items: center;
    }

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 40px;
        background-color: whitesmoke;
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
    }

    .hamburguesa .line {
        width: 30px;
        height: 4px;
        background: #D93904;
        margin: 6px 0px 6px 10cm;
        border-radius: 2px;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #D93904;
        transition: 1s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 400px;
    }

    .nav-bar.active a {
        color: black;
        font-weight: bold;
    }

    .nav-bar.active a:hover {
        color: white;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul li a {
        color: white;
        font-weight: normal;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        color: white;
        font-weight: normal;
        margin-bottom: 12px;
        font-size: 22px;
        padding: 10px 15px;
    }

    /*ad1*/

    #ad1 {
        padding: 0;
    }

    .ad1 {
        position: relative;
        width: 728px;
        top: 80px;
    }

    .ad1 {
        left: 0;
    }

    /*Nosotros*/

    .mvv {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;
    }

    .mvv-text {
        width: 100%;
        padding: 0;
        order: 1;
    }

    .mvv-text-1 {
        width: 100%;
        padding: 0;
        order: 1;
    }

    .img-1 {
        width: 200px;
        height: 200px;
    }

    .mvv-text-1 h2 {
        margin: 0 0 10px;
    }

    .mvv-text-1 p {
        font-size: 18px;
    }

    .mvv-text h2 {
        margin: 0 0 10px;
    }

    .mvv-text p {
        font-size: 18px;
    }

    /*Nosotros 2*/
    .nosotros {
        margin-top: 0px;
        padding-top: 100px;
        grid-gap: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotros .img-foxtec {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .nosotros .img-foxtec img {
        width: 90%;
        height: 90%;
        border: 8px ridge #D93904;
    }

    .nosotros .nosotros-texto {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .nosotros .nosotros-texto span.text-foxtec {
        font-size: 25px;
        gap: 15px;
        margin-bottom: 10px;
    }

    .nosotros .nosotros-texto span.text-foxtec span {
        display: inline-block;
        background: #D93904;
        width: 70px;
        height: 5px;
    }

    .nosotros .nosotros-texto h2 {
        font-family: "Protest Strike", sans-serif;
        font-size: 40px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        padding-bottom: 20px;
    }

    .nosotros .nosotros-texto h2 span {
        font-family: "Protest Strike", sans-serif;
        color: #D93904;
    }

    .nosotros .nosotros-texto p {
        text-align: justify;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        line-height: 29px;
    }

    /* Footer */

    .footer1 {
        padding: 20px 0;
    }

    .footer-row {
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-link {
        width: 100%;
        margin-bottom: 30px;

    }

    .footer-link h4 {
        font-family: "Protest Strike", sans-serif;
        font-size: 22px;
        color: #D93904;
        margin-bottom: 10px;
        font-weight: 500;
        border-bottom: 2 solid #ffffff;
        padding-bottom: 0;
        text-transform: none;
    }

    .footer-link ul li p {
        font-size: 19px;
    }

    .footer-link ul li a {
        font-size: 19px;
    }

    .footer-link ul li a:hover {
        color: #D93904;
        padding-left: 6px;
    }

    .social-link {
        padding: 0 0 20px 0;
    }

    .social-link img {
        display: inline-block;
        width: 55px;
        height: auto;
        margin: 0;
        text-align: center;
        border-radius: 50%;
        color: aliceblue;
        padding: 0;
    }

    .social-link a:hover {
        background-color: #D93904;
    }


    .newsletter .titulo {
        font-family: "Protest Strike", sans-serif;
        padding-bottom: 10px;
        color: #D93904;
        font-size: 22px;
        text-align: left;
    }

    .newsletter p {
        color: white;
        font-size: 17px;
        font-family: "Bebas Neue", sans-serif;
        padding-bottom: 10px;
        text-align: left;
    }

    div.newsletter-caja {
        gap: 15px;
        display: flex;
        align-items: center;
    }

    .newsletter-caja input {
        width: 100%;
        height: 50px;
        padding: 12px 20px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja input:focus {
        outline: 2px solid #D93904;
    }

    .newsletter-caja button {
        padding: 10px 10px;
        background-color: #D93904;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        font-size: 22px;
    }

    ::placeholder {
        font-size: 17px;
    }

    .footer-2 {
        display: flex;
        padding: 15px 0 0 0;
        flex-direction: column;
        gap: 20px;

        & p,
        a {
            color: white;
            font-size: 15px;
            font-family: "Bebas Neue", sans-serif;
            text-decoration: none;
            text-align: center;

        }

    }
}

@media (max-width: 426px) {

    .main-content {
        width: 95%;
        margin: 0 auto;
    }

    /* Header & nav */
    .logo img {
        width: auto;
        height: 50px;
        display: flex;
        align-items: center;
    }

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        padding: 0 40px;
        background-color: whitesmoke;
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
    }

    .hamburguesa .line {
        width: 28px;
        height: 4px;
        background: #D93904;
        margin: 6px 0 6px 3cm;
        border-radius: 2px;
    }

    .nav-bar {
        width: 100%;
        height: 0;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background: #D93904;
        transition: 1s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 400px;
        width: 100%;
    }

    .nav-bar.active a {
        font-weight: normal;
    }

    .nav-bar.active a:hover {
        font-weight: normal;
        color: white;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 12px;
    }


    /*ad1*/

    #ad1 {
        padding: 0;
    }

    .ad1 {
        position: relative;
        width: 425px;
        height: auto;
        top: 70px;
    }

    .ad1 img {
        width: 425px;
        height: auto;
    }

    .ad1 {
        left: 0;
    }

    /*Nosotros*/

    .mvv {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px;
    }

    .mvv-text {
        width: 100%;
        padding: 0;
        order: 1;
    }

    .mvv-text-1 {
        width: 100%;
        padding: 0;
        order: 1;
    }

    .img-1 {
        width: 200px;
        height: 200px;
    }

    .mvv-text-1 h2 {
        margin: 0 0 10px;
    }

    .mvv-text-1 p {
        font-size: 15px;
    }

    .mvv-text h2 {
        margin: 0 0 10px;
    }

    .mvv-text p {
        font-size: 15px;
    }

    /*Nosotros 2*/
    .nosotros {
        margin-top: 70px;
        padding-top: 15px;
        grid-gap: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotros .img-foxtec {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .nosotros .img-foxtec img {
        width: 90%;
        height: 90%;
        border: 8px ridge #D93904;
    }

    .nosotros .nosotros-texto {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .nosotros .nosotros-texto span.text-foxtec {
        font-size: 20px;
        gap: 15px;
        margin-bottom: 10px;
    }

    .nosotros .nosotros-texto span.text-foxtec span {
        display: inline-block;
        background: #D93904;
        width: 70px;
        height: 5px;
    }

    .nosotros .nosotros-texto h2 {
        font-family: "Protest Strike", sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: rgb(0, 0, 0);
        padding-bottom: 20px;
    }

    .nosotros .nosotros-texto h2 span {
        font-family: "Protest Strike", sans-serif;
        color: #D93904;
    }

    .nosotros .nosotros-texto p {
        text-align: justify;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        line-height: 23px;
    }

    /* Footer */

    .footer1 {
        padding: 20px 0;
    }

    .footer-row {
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-link {
        width: 100%;
        margin-bottom: 30px;

    }

    .footer-link h4 {
        font-family: "Protest Strike", sans-serif;
        font-size: 22px;
        color: #D93904;
        margin-bottom: 10px;
        font-weight: 500;
        border-bottom: 2 solid #ffffff;
        padding-bottom: 0;
        text-transform: none;
    }

    .footer-link ul li p {
        font-size: 19px;
    }

    .footer-link ul li a {
        font-size: 19px;
    }

    .footer-link ul li a:hover {
        color: #D93904;
        padding-left: 6px;
    }

    .social-link {
        padding: 0 0 20px 0;
    }

    .social-link img {
        display: inline-block;
        width: 55px;
        height: auto;
        margin: 0;
        text-align: center;
        border-radius: 50%;
        color: aliceblue;
        padding: 0;
    }

    .social-link a:hover {
        background-color: #D93904;
    }


    .newsletter .titulo {
        font-family: "Protest Strike", sans-serif;
        padding-bottom: 10px;
        color: #D93904;
        font-size: 22px;
        text-align: left;
    }

    .newsletter p {
        color: white;
        font-size: 17px;
        font-family: "Bebas Neue", sans-serif;
        padding-bottom: 10px;
        text-align: left;
    }

    div.newsletter-caja {
        gap: 15px;
        display: flex;
        align-items: center;
    }

    .newsletter-caja input {
        width: 100%;
        height: 50px;
        padding: 12px 20px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja input:focus {
        outline: 2px solid #D93904;
    }

    .newsletter-caja button {
        padding: 10px 10px;
        background-color: #D93904;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        font-size: 22px;
    }

    ::placeholder {
        font-size: 17px;
    }

    .footer-2 {
        display: flex;
        padding: 15px 0 0 0;
        flex-direction: column;
        gap: 20px;

        & p,
        a {
            color: white;
            font-size: 15px;
            font-family: "Bebas Neue", sans-serif;
            text-decoration: none;
            text-align: center;

        }

    }
}