@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Timmana&display=swap&family=Acme&display=swap&family=Protest+Strike&display=swap&family=Lexend+Deca:wght@100..900&display=swap&family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Header y nav */
header {
    position: fixed;
    box-shadow: 2px 2px 10px #D93904;
}

header {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: whitesmoke;
}

header a:hover {
    color: #D93904;
}

.logo img {
    width: auto;
    height: 80px;
}

.hamburguesa {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 23px;
    padding: 10px 25px;
}

.nav-bar ul li a:hover {
    color: #D93904;
}

/*ad skin*/

.ad3,
.ad4 {
    position: absolute;
    width: 160px;
    top: 295px;
}

.ad3 {
    left: 10px;
}

.ad4 {
    right: 10px;
}

/* cerrar ad */

button#boton-cerrar {
    background-color: transparent;
}

#boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0px;
    padding-right: 4px;
    cursor: pointer;

    & img {
        width: 20px;
        height: auto;
        background-color: #000000;
        border-radius: 100px;
        transition: transform 0.5s ease;
    }

    & img:hover {
        background-color: #D93904;
        transform: scale(1.2);
    }

}

/*Testimonios*/

main {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
}

.testimonios {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 1500px;
    padding: 2rem 0;
}

.header-test {
    margin-bottom: 2rem;
}

.header-test p {
    font-family: "Protest Strike", sans-serif;
    color: #D93904;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 500;
}

.header-test h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

.testimonios-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.cuadro {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 30px #00000086;
}

.cuadro p {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: white;
}

.cuadro hr {
    width: 40px;
    height: 5px;
    margin: auto;
    border: none;
    background-color: #D93904;
}

.cuadro .icon-clientes img {
    width: 90px;
    height: auto;
    border: 0;
}

.cuadro img {
    transition: transform 0.3s ease-in-out;
    width: 400px;
    height: 260px;
    margin: auto;
    border: 8px ridge rgb(255, 255, 255);
}

.cuadro img:hover {
    transform: scale(1.05);
}

.cuadro .name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #D93904;
    transition: 0.3s;
}

.cuadro .name:hover {
    color: white;
}

.footer-test h4 {
    color: #D93904;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.footer-test p {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    max-width: 450px;
    margin: auto;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

/* Footer */

.footer1 {
    background-color: #000000;
    padding: 40px 180px;
}

.footer-row {
    display: flex;
}

.footer-link {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0;
}

.footer-link h4 {
    font-family: "Protest Strike", sans-serif;
    font-size: 28px;
    color: #D93904;
    margin-bottom: 25px;
    padding-bottom: 10px;
    display: inline-block;
    text-transform: none;
}

.footer-link ul li p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-link ul li a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-link ul li a:hover {
    color: #D93904;
    padding-left: 6px;
}

.social-link {
    padding: 0 0 20px 0;
}

.social-link img {
    display: inline-block;
    width: 59px;
    height: auto;
    margin: 0;
    text-align: center;
    border-radius: 50%;
    color: aliceblue;
    padding: 0;
}

.social-link a:hover {
    background-color: #D93904;
}

::placeholder {
    font-style: italic;
}

.newsletter .titulo {
    font-family: "Protest Strike", sans-serif;
    padding-bottom: 10px;
    color: #D93904;
    font-size: 28px;
}

.newsletter p {
    color: white;
    font-size: 20px;
    text-align: start;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    padding-bottom: 10px;
}

div.newsletter-caja {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.newsletter-caja input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
}

.newsletter-caja input:focus {
    outline: 2px solid #D93904;
}

.newsletter-caja button {
    background-color: #b40000;
    padding: 13px 25px 0 25px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-caja button:hover {
    background-color: #D93904;


}

button {
    cursor: pointer;
    border: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(160, 0, 0);
}

button:hover {
    background-color: #D93904;
    color: white;
}

.btn2-2 {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    & p,
    a {
        color: white;
        font-size: 18px;
        font-family: "Bebas Neue", sans-serif;
        text-decoration: none;
    }
}

.footer-2 p.derechos {
    cursor: pointer;
}

.footer-2 p.derechos:hover {
    color: #D93904;
}



/* Boton de wtsp */

.whatsapp img {
    position: fixed;
    z-index: 10000;
    margin: 20px;
    inset: auto 0 0 auto;

}

.whatsapp a img {
    width: 75px;
    height: auto;
}

@media (max-width: 1025px) {

    /* Header & nav */

    header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 50px;
        background-color: whitesmoke;
    }

    .logo img {
        width: 180px;
        height: auto;
    }

    .nav-bar ul {
        display: flex;
    }

    .nav-bar ul li a {
        font-size: 20px;
        padding: 10px 15px;
    }

    /* ad skin */

    .ads-skin-1,
    .ads-skin-2 {
        position: absolute;
        width: 160px;
        top: 230px;
    }

    .ads-skin-1 {
        left: 0px;
    }

    .ads-skin-2 {
        right: 0px;
    }


    /*Testimonios*/

    .testimonios {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        max-width: 1500px;
        padding: 2rem 2rem;
    }

    .testimonios-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-bottom: 2rem;
    }


    /* Footer */

    .footer1 {
        padding: 40px 40px;
    }

    .footer-link h4 {
        font-size: 24px;
        color: #D93904;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .footer-link ul li p {
        font-size: 20px;
    }

    .footer-link ul li a {
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }

    .social-link img {
        width: 43px;
        height: auto;
    }

    ::placeholder {
        font-style: italic;
    }

    .newsletter .titulo {
        padding-bottom: 10px;
        color: #D93904;
        font-size: 24px;
    }

    .newsletter p {
        color: white;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .newsletter-caja input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja button {
        padding: 8px 25px;
        width: 100%;
        height: 50px;
    }

    .footer-2 p,
    a {
        font-size: 15px;
    }

    /* Whatsapp*/

    .whatsapp img {
        position: fixed;
        z-index: 10000;
        margin: 0 10px 5px 0;
        inset: auto 0 0 auto;
    }

    .whatsapp a img {
        width: 40px;
        height: auto
    }
}

@media (max-width: 769px) {

    /* Header & nav */
    .logo img {
        width: auto;
        height: 55px;
        display: flex;
        align-items: center;
    }

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 40px;
        background-color: whitesmoke;
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
    }

    .hamburguesa .line {
        width: 30px;
        height: 4px;
        background: #D93904;
        margin: 6px 0px 6px 10cm;
        border-radius: 2px;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #D93904;
        transition: 1s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 400px;
    }

    .nav-bar.active a {
        color: black;
        font-weight: bold;
    }

    .nav-bar.active a:hover {
        color: white;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul li a {
        color: white;
        font-weight: normal;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        color: white;
        font-weight: normal;
        margin-bottom: 12px;
        font-size: 22px;
        padding: 10px 15px;
    }

    /* ad skin */

    .ads-skin-1,
    .ads-skin-2 {
        position: absolute;
        width: 160px;
        top: 198px;
    }

    /*Testimonios*/

    .testimonios {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        max-width: 1500px;
        padding: 2rem 5rem;
    }

    .testimonios-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-bottom: 2rem;
    }


    /* Footer */

    .footer1 {
        padding: 20px 0;
    }

    .footer-row {
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-link {
        width: 100%;
        margin-bottom: 30px;

    }

    .footer-link h4 {
        font-family: "Protest Strike", sans-serif;
        font-size: 22px;
        color: #D93904;
        margin-bottom: 10px;
        font-weight: 500;
        border-bottom: 2 solid #ffffff;
        padding-bottom: 0;
        text-transform: none;
    }

    .footer-link ul li p {
        font-size: 19px;
    }

    .footer-link ul li a {
        font-size: 19px;
    }

    .footer-link ul li a:hover {
        color: #D93904;
        padding-left: 6px;
    }

    .social-link {
        padding: 0 0 20px 0;
    }

    .social-link img {
        display: inline-block;
        width: 55px;
        height: auto;
        margin: 0;
        text-align: center;
        border-radius: 50%;
        color: aliceblue;
        padding: 0;
    }

    .social-link a:hover {
        background-color: #D93904;
    }


    .newsletter .titulo {
        font-family: "Protest Strike", sans-serif;
        padding-bottom: 10px;
        color: #D93904;
        font-size: 22px;
        text-align: left;
    }

    .newsletter p {
        color: white;
        font-size: 17px;
        font-family: "Bebas Neue", sans-serif;
        padding-bottom: 10px;
        text-align: left;
    }

    div.newsletter-caja {
        gap: 15px;
        display: flex;
        align-items: center;
    }

    .newsletter-caja input {
        width: 100%;
        height: 50px;
        padding: 12px 20px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja input:focus {
        outline: 2px solid #D93904;
    }

    .newsletter-caja button {
        padding: 10px 10px;
        background-color: #D93904;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        font-size: 22px;
    }

    ::placeholder {
        font-size: 17px;
    }

    .footer-2 {
        display: flex;
        padding: 15px 0 0 0;
        flex-direction: column;
        gap: 20px;

        & p,
        a {
            color: white;
            font-size: 15px;
            font-family: "Bebas Neue", sans-serif;
            text-decoration: none;
            text-align: center;

        }

    }
}

@media (max-width: 426px) {

    /* Header & nav */
    .logo img {
        width: auto;
        height: 50px;
        display: flex;
        align-items: center;
    }

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        padding: 0 40px;
        background-color: whitesmoke;
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
    }

    .hamburguesa .line {
        width: 28px;
        height: 4px;
        background: #D93904;
        margin: 6px 0 6px 3cm;
        border-radius: 2px;
    }

    .nav-bar {
        width: 100%;
        height: 0;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        background: #D93904;
        transition: 1s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 400px;
        width: 100%;
    }

    .nav-bar.active a {
        font-weight: normal;
    }

    .nav-bar.active a:hover {
        font-weight: normal;
        color: white;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 12px;
    }

    /*Testimonios*/

    .testimonios {
        margin-top: 13%;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        max-width: 426px;
        padding: 2rem 2rem;
    }

    .header-test p {
        font-family: "Protest Strike", sans-serif;
        color: #D93904;
        letter-spacing: 2px;
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 15px;
    }

    .header-test h1 {
        font-family: "Bebas Neue", sans-serif;
        font-size: 28px;
        font-weight: bold;
    }

    .testimonios-grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .cuadro {
        width: 100%;
        max-width: 426px;
        height: auto;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border-radius: 5px;
        box-shadow: 5px 5px 30px #00000086;
        cursor: pointer;
    }

    .cuadro p {
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: normal;
    }

    .cuadro .icon-clientes img {
        width: 50px;
        height: auto;
        border: 0;
    }

    .cuadro img {
        width: auto;
        height: 180px;
        margin: auto;
        border: 8px ridge rgba(189, 189, 189, 0.288);
    }

    .footer-test h4 {
        color: #D93904;
        font-family: "Bebas Neue", sans-serif;
        font-size: 1.5rem;
        font-weight: 900;
        margin-bottom: 1rem;
    }

    .footer-test p {
        font-family: "Poppins", sans-serif;
        max-width: 426px;
        margin: auto;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }

    /* Footer */

    .footer1 {
        padding: 20px 0;
    }

    .footer-row {
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-link {
        width: 100%;
        margin-bottom: 30px;

    }

    .footer-link h4 {
        font-family: "Protest Strike", sans-serif;
        font-size: 22px;
        color: #D93904;
        margin-bottom: 10px;
        font-weight: 500;
        border-bottom: 2 solid #ffffff;
        padding-bottom: 0;
        text-transform: none;
    }

    .footer-link ul li p {
        font-size: 19px;
    }

    .footer-link ul li a {
        font-size: 19px;
    }

    .footer-link ul li a:hover {
        color: #D93904;
        padding-left: 6px;
    }

    .social-link {
        padding: 0 0 20px 0;
    }

    .social-link img {
        display: inline-block;
        width: 55px;
        height: auto;
        margin: 0;
        text-align: center;
        border-radius: 50%;
        color: aliceblue;
        padding: 0;
    }

    .social-link a:hover {
        background-color: #D93904;
    }


    .newsletter .titulo {
        font-family: "Protest Strike", sans-serif;
        padding-bottom: 10px;
        color: #D93904;
        font-size: 22px;
        text-align: left;
    }

    .newsletter p {
        color: white;
        font-size: 17px;
        font-family: "Bebas Neue", sans-serif;
        padding-bottom: 10px;
        text-align: left;
    }

    div.newsletter-caja {
        gap: 15px;
        display: flex;
        align-items: center;
    }

    .newsletter-caja input {
        width: 100%;
        height: 50px;
        padding: 12px 20px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja input:focus {
        outline: 2px solid #D93904;
    }

    .newsletter-caja button {
        padding: 10px 10px;
        background-color: #D93904;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        font-size: 22px;
    }

    ::placeholder {
        font-size: 17px;
    }

    .footer-2 {
        display: flex;
        padding: 15px 0 0 0;
        flex-direction: column;
        gap: 20px;

        & p,
        a {
            color: white;
            font-size: 15px;
            font-family: "Bebas Neue", sans-serif;
            text-decoration: none;
            text-align: center;

        }

    }
}
