@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap&family=Timmana&display=swap&family=Acme&display=swap&family=Protest+Strike&display=swap&family=Lexend+Deca:wght@100..900&display=swap&family=Poppins:wght@500&display=swap');



* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Header y nav */
header {
    position: fixed;
    box-shadow: 2px 2px 10px #D93904;
}

header {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background-color: whitesmoke;
}

header a:hover {
    color: #D93904;
}

.logo img {
    width: auto;
    height: 80px;
}

.hamburguesa {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 23px;
    padding: 10px 25px;
}

.nav-bar ul li a:hover {
    color: #D93904;
}

/* Carrito */

.submenu {
    position: relative;
}

img#img-carrito {
    height: 35px;
    width: auto;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(1px);
    top: 100%;
    z-index: 1;
    background-color: rgb(212, 212, 212);
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th,
td {
    color: white;
    font-family: "Lexand Deca", sans-serif;
    font-size: 13px;
}

.borrar {
    background-color: #D93904;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

/*ad rascacielos*/

#ad1 {
    position: fixed;
    top: 170px;
    right: 50px;
    cursor: pointer;
}

.ad1 {
    padding: 0;

    & img {
        width: 160px;
        height: auto;
    }
}

/* cerrar ad */

button#boton-cerrar {
    background-color: transparent;
}

#boton-cerrar {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 0px;
    padding-right: 4px;
    cursor: pointer;

    & img {
        width: 20px;
        height: auto;
        background-color: #000000;
        border-radius: 100px;
        transition: transform 0.5s ease;
    }

    & img:hover {
        background-color: #D93904;
        transform: scale(1.2);
    }

}


/* Portada img */

#hero {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 22cm;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("imagenes/fondogamer.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero h1 {
    padding-bottom: 10px;
    padding-top: 70px;
    font-size: 5em;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

button {
    cursor: pointer;
    border: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(160, 0, 0);
}

button:hover {
    background-color: #D93904;
    color: white;
}


/* Portada texto */

#foxtec {
    margin-top: 2cm;
    margin-bottom: 2cm;
}

#foxtec .container {
    display: flex;
    justify-content: space-evenly;
}

#foxtec .texto {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#foxtec img {
    height: 450px;
    width: auto;
    background-color: #D93904;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#foxtec .texto p {
    font-family: "Poppins", sans-serif;
    font-size: 19px;
    text-align: justify;
    text-transform: none;
}


#foxtec .container .texto h2 {
    font-family: "Protest Strike", sans-serif;
    text-align: left;
    padding: 0%;
    font-size: 48px;
}

span {
    color: #D93904;
}

.container {
    max-width: 100%;
    margin: auto;
}

/* Categorias */

section[id] {
    scroll-margin-top: 200px;
}

.oferts.container {
    max-width: 1200px;
    margin: 0 auto;
}

.oferts {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    flex-basis: calc(33.3% - 20px);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b1 {
    background-color: #D93904;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.b2 {
    background-color: #D93904;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.b3 {
    background-color: #D93904;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.ofert-txt {
    flex-basis: 50%;
}

.ofert-txt h3 {
    font-weight: 0;
    color: white;
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
}

.ofert-txt a {
    font-size: 25px;
    color: black;
    font-family: "Bebas Neue", sans-serif;
}

#oferts .ofert-img .zoom {
    display: flex;
    align-items: center;
    width: auto;
    height: 180px;
}

.ofert-1 .zoom {
    transition: transform .7s;
}

.ofert-1 .zoom:hover {
    transform: scale(1.1);
}


/* Productos */

.products.container {
    max-width: 1200px;
    margin: 0 auto;
}

.products {
    padding: 0 0 40px 0;
    text-align: center;
}

.products.container h2 {
    margin-top: 50px;
    font-size: 40px;
    color: black;
    font-family: "Protest Strike", sans-serif;
    background-color: rgb(241, 241, 241);
}

.box-container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box {
    border-top: 3px solid black;
    border-bottom: 3px solid #D93904;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #f2f2f2;
    display: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8) {
    display: inline-block;
}

.box img {
    height: 200px;
    width: auto;
}

.product-txt h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
    font-family: "Bebas Neue", sans-serif;
}

.product-txt p {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(32, 119, 24);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-txt .rojo {
    font-weight: bold;
    margin-bottom: 17px;
    color: rgb(212, 31, 31);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-txt .precio {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #ff1e00;
}

.btn-2,
.btn-3 {
    background-color: #b42525;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 20px;
    color: white;
    font-family: "Timmana", sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-2:hover,
.btn-3:hover,
.btn-1:hover {
    background-color: #D93904;
}

.btn-3 {
    margin: 0;
    padding: 8px 25px;
    border-radius: 8px;
}

/* Seccion iconos */

.icons {
    margin: 0cm 5cm;
}

.box-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.section-icons {
    margin: 0 0 40px 0;
}

.ms-4 h3 {
    font-family: "Protest Strike", sans-serif;
    color: #D93904;
    font-size: 23px;
    padding-bottom: 5px;
}

.ms-4 p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 21px;
}

.box-icons i {
    padding: 0 15px 0 50px;
    font-size: 40px;
    font-weight: 800;
}


/* Footer */

.footer1 {
    background-color: #000000;
    padding: 40px 180px;
}

.footer-row {
    display: flex;
}

.footer-link {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0;
}

.footer-link h4 {
    font-family: "Protest Strike", sans-serif;
    font-size: 28px;
    color: #D93904;
    margin-bottom: 25px;
    padding-bottom: 10px;
    display: inline-block;
    text-transform: none;
}

.footer-link ul li p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
}

.footer-link ul li a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-link ul li a:hover {
    color: #D93904;
    padding-left: 6px;
}

.social-link {
    padding: 0 0 20px 0;
}

.social-link img {
    display: inline-block;
    width: 59px;
    height: auto;
    margin: 0;
    text-align: center;
    border-radius: 50%;
    color: aliceblue;
    padding: 0;
}

.social-link a:hover {
    background-color: #D93904;
}

::placeholder {
    font-style: italic;
}

.newsletter .titulo {
    font-family: "Protest Strike", sans-serif;
    padding-bottom: 10px;
    color: #D93904;
    font-size: 28px;
}

.newsletter p {
    color: white;
    font-size: 20px;
    text-align: start;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    padding-bottom: 10px;
}

div.newsletter-caja {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.newsletter-caja input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: gainsboro;
}

.newsletter-caja input:focus {
    outline: 2px solid #D93904;
}

.newsletter-caja button {
    background-color: #b40000;
    padding: 13px 25px 0 25px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter-caja button:hover {
    background-color: #D93904;


}

.btn2-2 {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.footer-2 {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    & p,
    a {
        color: white;
        font-size: 18px;
        font-family: "Bebas Neue", sans-serif;
        text-decoration: none;
    }
}

.footer-2 p.derechos {
    cursor: pointer;
}

.footer-2 p.derechos:hover {
    color: #D93904;
}



/* Boton de wtsp */

.whatsapp img {
    position: fixed;
    z-index: 10000;
    margin: 20px;
    inset: auto 0 0 auto;

}

.whatsapp a img {
    width: 75px;
    height: auto;
}

@media (max-width: 1025px) {

    /* Header & nav */

    header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 50px;
        background-color: whitesmoke;
    }

    .logo img {
        width: 180px;
        height: auto;
    }

    .nav-bar ul {
        display: flex;
    }

    .nav-bar ul li a {
        font-size: 20px;
        padding: 10px 15px;
    }

    /* Carrito */

    img#img-carrito {
        height: 25px;
        width: auto;
    }

    /*ad rascacielos*/

    #ad1 {
        top: 100px;
        right: 10px;
        cursor: pointer;
    }


    /* Portada img */

    #hero {
        height: 17cm;
    }

    #hero h1 {
        font-size: 3em;
        padding-bottom: 10px;
        padding-top: 70px;
    }

    button {
        font-size: 25px;
    }

    /* Portada texto */

    #foxtec img {
        height: 270px;
        width: 400px;
        margin-left: 50px;
    }

    #foxtec {
        margin-top: 1cm;
        margin-bottom: 1cm;
    }

    #foxtec .container {
        align-items: center;
    }

    #foxtec .texto {
        width: 50%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #foxtec .texto p {
        font-size: 15px;
        margin-right: 50px;
        margin-left: 20px;
    }

    #foxtec .container .texto h2 {
        margin-left: 20px;
        font-size: 38px;
    }

    /* Categorias */

    #oferts .ofert-img .zoom {
        height: 150px;
        width: auto;
    }

    .oferts.container img {
        padding: 10px;
    }

    .oferts {
        padding: 0px 40px 30px 40px;
    }

    .ofert-txt {
        flex-basis: 50%;
    }

    .ofert-txt h3 {
        font-weight: normal;

        font-size: 25px;
    }

    .ofert-txt a {
        font-size: 24px;
        color: black;
        font-family: "Bebas Neue", sans-serif;
    }

    .ofert-1 {
        margin-bottom: 15px;
    }


    /* Productos */

    .products {
        padding: 0 30px 40px 40px;
    }

    /* Seccion iconos */

    .icons {
        margin: 0cm 1cm;
    }

    .section-icons {
        margin: 0 0 30px 0;
    }

    .ms-4 h3 {
        font-family: "Protest Strike", sans-serif;
        color: #D93904;
        font-size: 20px;
        padding-bottom: 5px;
    }

    .ms-4 p {
        font-family: "Bebas Neue", sans-serif;
        font-size: 19px;
    }

    .box-icons i {
        padding: 0 15px 0 30px;
        font-size: 40px;
        font-weight: 800;
    }

    /* Footer */

    .footer1 {
        padding: 40px 40px;
    }

    .footer-link h4 {
        font-size: 24px;
        color: #D93904;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .footer-link ul li p {
        font-size: 20px;
    }

    .footer-link ul li a {
        font-size: 20px;
        display: block;
        margin-bottom: 10px;
    }

    .social-link img {
        width: 43px;
        height: auto;
    }

    ::placeholder {
        font-style: italic;
    }

    .newsletter .titulo {
        padding-bottom: 10px;
        color: #D93904;
        font-size: 24px;
    }

    .newsletter p {
        color: white;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .newsletter-caja input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja button {
        padding: 8px 25px;
        width: 100%;
        height: 50px;
    }

    .footer-2 p,
    a {
        font-size: 15px;
    }

    /* Whatsapp*/

    .whatsapp img {
        position: fixed;
        z-index: 10000;
        margin: 0 10px 5px 0;
        inset: auto 0 0 auto;
    }

    .whatsapp a img {
        width: 40px;
        height: auto
    }
}

@media (max-width: 769px) {

    /* Header & nav */
    .logo img {
        width: auto;
        height: 55px;
        display: flex;
        align-items: center;
    }

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        padding: 0 40px;
        background-color: whitesmoke;
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
    }

    .hamburguesa .line {
        width: 30px;
        height: 4px;
        background: #D93904;
        margin: 6px 0px 6px 10cm;
        border-radius: 2px;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #D93904;
        transition: 1s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 400px;
    }

    .nav-bar.active a {
        color: black;
        font-weight: bold;
    }

    .nav-bar.active a:hover {
        color: white;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul li a {
        color: white;
        font-weight: normal;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        color: white;
        font-weight: normal;
        margin-bottom: 12px;
        font-size: 22px;
        padding: 10px 15px;
    }

    /* Carrito */

    img#img-carrito {
        height: 30px;
        width: auto;
    }

    /*ad rascacielos*/

    #ad2 {
        top: 90px;
        right: 7px;
        cursor: pointer;
    }

    /* Portada img */

    #hero {
        height: 13cm;
        width: 100%;
    }

    #hero h1 {
        font-size: 2.2em;
        padding-bottom: 10px;
        padding-top: 70px;
    }

    button {
        font-size: 20px;
    }

    /* Portada texto */

    #foxtec img {
        display: none;
    }

    #foxtec {
        margin-top: 1cm;
        margin-bottom: 1cm;
    }

    #foxtec .container {
        align-items: center;
    }

    #foxtec .texto {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

    #foxtec .texto p {
        font-size: 18px;
        margin-right: 0px;
        margin-left: 0px;
    }

    #foxtec .container .texto h2 {
        margin-bottom: 20px;
        margin-left: 0px;
        font-size: 38px;
        text-align: center;

    }

    /* Categorias */

    #oferts .ofert-img .zoom {
        height: 230px;
        width: auto;
    }

    .oferts.container img {
        padding: 10px;
    }

    .oferts {
        padding: 0px 100px 70px 100px;
        flex-direction: column;
    }

    .ofert-txt {
        flex-basis: 50%;
    }

    .ofert-txt h3 {
        font-size: 37px;
        font-family: "Bebas Neue", sans-serif;
    }

    .ofert-txt a {
        font-size: 30px;
        color: black;
        font-family: "Bebas Neue", sans-serif;
    }

    .ofert-1 {
        margin-bottom: 15px;
    }

    /* Productos */

    .products {
        padding: 0 30px 30px 30px;
    }

    /* Seccion iconos */

    .icons {
        margin: 0 48px;
    }

    .section-icons {
        margin: 0 0 20px 0;
    }

    .ms-4 h3 {
        font-family: "Protest Strike", sans-serif;
        color: #D93904;
        font-size: 19px;
        padding-bottom: 5px;
    }

    .ms-4 p {
        font-family: "Bebas Neue", sans-serif;
        font-size: 18px;
    }

    .box-icons i {
        padding: 0 20px 0 0;
        font-size: 30px;
        font-weight: 800;
    }

    /* Footer */

    .footer-link h4 {
        font-size: 18px;
        color: #D93904;
        margin-bottom: 10px;
        padding-bottom: 5px;
    }

    .footer-link ul li p {
        font-size: 17px;
    }

    .footer-link ul li a {
        font-size: 17px;
        display: block;
        margin-bottom: 10px;
    }

    .social-link img {
        width: 31px;
        height: auto;
    }

    ::placeholder {
        font-style: italic;
    }

    .newsletter .titulo {
        padding-bottom: 10px;
        color: #D93904;
        font-size: 18px;
    }

    .newsletter p {
        color: white;
        font-size: 15px;
        padding-bottom: 10px;
    }

    .newsletter-caja input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja button {
        padding: 6px 10px;
        width: 100%;
        height: 40px;
    }

    /* whatsapp*/

    .whatsapp img {
        position: fixed;
        z-index: 10000;
        margin: 0 10px 5px 0;
        inset: auto 0 0 auto;
    }

    .whatsapp a img {
        width: 40px;
        height: auto
    }
}

@media (max-width: 426px) {

    /* Header & nav */
    .logo img {
        width: auto;
        height: 50px;
        display: flex;
        align-items: center;
    }

    header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        padding: 0 40px;
        background-color: whitesmoke;
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
    }

    .hamburguesa .line {
        width: 28px;
        height: 4px;
        background: #D93904;
        margin: 6px 0 6px 3cm;
        border-radius: 2px;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #D93904;
        transition: 1s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 400px;
    }

    .nav-bar.active a {
        font-weight: normal;
    }

    .nav-bar.active a:hover {
        font-weight: normal;
        color: white;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        font-weight: normal;
        font-size: 20px;
        margin-bottom: 12px;
    }

    /* Carrito */

    img#img-carrito {
        height: 30px;
        width: auto;
        padding-left: 15px;
    }

    /* Portada img */

    #hero {
        height: 10cm;
        width: auto;
    }


    #hero h1 {
        font-size: 36px;
        font-weight: normal;
    }

    button {
        font-size: 23px;
        border-radius: 5px;
    }

    /* Portada texto */

    #foxtec img {
        display: none;
    }

    #foxtec {
        margin-top: 1cm;
        margin-bottom: 0c;
    }

    #foxtec .texto {
        margin: 0;
    }

    #foxtec .texto p {
        font-size: 14px;
        margin-right: 30px;
        margin-left: 30px;
    }

    #foxtec .container .texto h2 {
        margin-bottom: 20px;
        margin-left: 0px;
        font-size: 28px;
        text-align: center;

    }

    /* Categorias */

    #oferts .ofert-img .zoom {
        height: 150px;
        width: auto;
    }

    .oferts h3 {
        font-weight: 500;
        font-size: 30px;
    }

    .oferts a {
        color: black;
        font-size: 23px;
    }

    .oferts {
        padding: 0px 30px 0 30px;
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 15px;
    }

    /* Productos */

    .products.container h2 {
        font-size: 35px;
    }

    .products {
        padding: 0 30px 30px 30px;
    }

    /* Seccion iconos */

    .box-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .icons {
        margin: 0 20px;
    }

    .section-icons {
        margin: 0 0 20px 0;
    }

    .ms-4 h3 {
        text-align: center;
        font-family: "Protest Strike", sans-serif;
        color: #D93904;
        font-size: 19px;
        padding-bottom: 5px;
    }

    .ms-4 p {
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        font-size: 18px;
        padding-bottom: 30px;
    }

    .box-icons i {
        padding: 0 20px 0 0;
        font-size: 30px;
        font-weight: 800;
    }

    /* Footer */

    .footer1 {
        padding: 20px 0;
    }

    .footer-row {
        margin-left: 20px;
        margin-right: 20px;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-link {
        width: 100%;
        margin-bottom: 30px;

    }

    .footer-link h4 {
        font-family: "Protest Strike", sans-serif;
        font-size: 22px;
        color: #D93904;
        margin-bottom: 10px;
        font-weight: 500;
        border-bottom: 2 solid #ffffff;
        padding-bottom: 0;
        text-transform: none;
    }

    .footer-link ul li p {
        font-size: 19px;
    }

    .footer-link ul li a {
        font-size: 19px;
    }

    .footer-link ul li a:hover {
        color: #D93904;
        padding-left: 6px;
    }

    .social-link {
        padding: 0 0 20px 0;
    }

    .social-link img {
        display: inline-block;
        width: 55px;
        height: auto;
        margin: 0;
        text-align: center;
        border-radius: 50%;
        color: aliceblue;
        padding: 0;
    }

    .social-link a:hover {
        background-color: #D93904;
    }


    .newsletter .titulo {
        font-family: "Protest Strike", sans-serif;
        padding-bottom: 10px;
        color: #D93904;
        font-size: 22px;
        text-align: left;
    }

    .newsletter p {
        color: white;
        font-size: 17px;
        font-family: "Bebas Neue", sans-serif;
        padding-bottom: 10px;
        text-align: left;
    }

    div.newsletter-caja {
        gap: 15px;
        display: flex;
        align-items: center;
    }

    .newsletter-caja input {
        width: 100%;
        height: 50px;
        padding: 12px 20px;
        border-radius: 10px;
        border: none;
        background-color: gainsboro;
    }

    .newsletter-caja input:focus {
        outline: 2px solid #D93904;
    }

    .newsletter-caja button {
        padding: 10px 10px;
        background-color: #D93904;
        border-radius: 10px;
        width: 100%;
        height: 50px;
        font-size: 22px;
    }

    ::placeholder {
        font-size: 17px;
    }

    .footer-2 {
        display: flex;
        padding: 15px 0 0 0;
        flex-direction: column;
        gap: 20px;

        & p,
        a {
            color: white;
            font-size: 15px;
            font-family: "Bebas Neue", sans-serif;
            text-decoration: none;
            text-align: center;

        }

    }
}
